* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, rgba(109,0,25,1) 0%, rgba(109,0,25,1) 26%, rgba(169,3,41,1) 71%, rgba(143,2,34,1) 76%, rgba(143,2,34,1) 100%);
    color: #f0f0f0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #1f1f1f;
    width: 100%;
    padding: 1em 0;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f39c12;
}

main {
    flex: 1;
    max-width: 900px;
    width: 90%;
    margin: 2em auto;
    padding: 2em;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #f39c12;
}
header, footer {
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    background-color: #1f1f1f;
    width: 100%;
    padding: 1em 0;
    text-align: center;
}

form {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 0.8em;
    font-size: 1.2em;
    margin-bottom: 1em;
    border: 2px solid #f39c12;
    border-radius: 8px;
    background-color: #120b1f;
    color: #f0f0f0;
}

button[type="submit"] {
    padding: 0.8em 1.2em;
    font-size: 1.2em;
    color: #f0f0f0;
    background-color:#120b1f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #c0392b;
}

section {
    margin-top: 2em;
}

h2 {
    font-size: 2em;
    color: #391796;
    margin-bottom: 0.5em;
    border-bottom: 2px solid #e74c3c;
    padding-bottom: 0.3em;
}

p {
    padding-left: 0.5em;
    border-left: 4px solid #f39c12;
    font-size: 1.2em;
    margin: 0.5em 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1em auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

p#error {
    color: #e74c3c;
    font-weight: bold;
    text-align: center;
}

p#dataFilmApi, p#message {
    font-style: italic;
    color: #bdc3c7;
    text-align: center;
    margin-top: 1em;
}

p#dataFilmApi, p#message {
    padding-left: 0;
    border-left: none;
}